.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: #f0f2f5;
}

.header {
  height: 44px;
  line-height: 44px;
  a {
    text-decoration: none;
  }
}

.logo {
  margin-right: 16px;
  height: 40px;
  vertical-align: top;
}

.title {
  font-weight: 600;
  font-size: 30px;
  font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85);
}

.desc {
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.45);
}

.content {
  padding: 32px 0;
  width: 320px;
}

.login-prefix-icon {
  font-size: 14px;
  color: #1890ff;
}
