.ant-layout-header.m-header {
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.m-header {
  &-r {
    display: flex;
    height: 100%;
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
  }
  .username {
    margin-left: 8px;
    height: 100%;
    color: rgba(0, 0, 0, 0.65);
    vertical-align: middle;
  }
}
